
  .side-bar {
    margin-top: 50px;
  }
  
  .side-bar-container {
    width: 30vw;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  

  .chat {
    display: flex;
    width: 95%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .chat-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .chat-info  h3{
    padding: 5px;
  }


  .modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
   }
  .modal-content {
    border: 1px solid #fff;
    width: 500px;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
   }
   
   .modalText {
    text-align: justify;
   }
   .modal-button button {
    border: 1px solid lightblue;
    padding: 6px;
    margin: 10px;
    width: 8rem;
    background-color:lightblue;
    color: white;
    border-radius: 7px;
   }

   .conversation-form {
      margin-top: 20px;
   }
   .input-conversation-data{
    margin: 10px;
   }

   .input-search-container {
    width: 90%;
   }

   .add-conversation {
    background-color: white;
    border: 1px solid lightblue;
    border-radius: 15px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: lightblue;
   }

   .chat-actions button{
      background-color: white;
      cursor: pointer;
      border: none;
   }